@import url("https://fonts.googleapis.com/css2?family=Numito+Sans:wght@200;300;400;600;700;800&display=swap");

/*---------------------------------------------*/
/* Propriedades de Costumização                */
/*---------------------------------------------*/

:root{
    /*Cor*/
    --grey-color: #616161;
    --text-color: #777777;
    --firt-color: #883aae;
    --firt-color-alt: #3796f7;
    --conteiner-color: rgba(255, 255, 255, 0.8);
    --light-grey-1: hsl(0; 0%; 80%);
    --dark-blue: #191a1f;
    --blue: rgba(55, 86, 247, 0.7);
    --dark: #101010;
    --jaguar: #292932;
    --carbon: #333333;
    --elipse: #38313c;
    --white: #fff;
    /*Font Family*/
    --font-nunito:"Nunito sans", sans-serif;
    --font-future:"Futura PT", sans-serif;
    /*Font Weigth*/
    --fw-700: 700;
    --fw-500: 500;
    --fw-300: 300;
    /*
    *Spicing
    */
    --section-padding: 50px;
}
/*---------------------------------------------*/
/* Reset                                       */
/*---------------------------------------------*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 100%;
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a,
span,
img,
button,
input,
i{
    display: block;
}
input,
button{
    font: inherit;
    border: none;
    outline: none;
    background: none;
}
button,
i{
    cursor: pointer;
}
input{
    width: 100%;
}
html{
    scroll-behavior: smooth;
    font-size: 10px;
}
body{
    background-color: var(--white);
    color: var(--text-color);
    font-family: var(--font-nunito);
    font-size: 1.6rem;
    line-height: 1.2;
    overflow-x: hidden;
}
/*---------------------------------------------*/
/* Reused Style                                */
/*---------------------------------------------*/
.conteiner{
    padding-inline: 16px;
}
.section{
    padding-block: var(--section-padding);
}
.grid{
    display: grid;
    gap: 25px;
}
.w-100{
    width: 100%;
}
.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-holder{
    aspect-ratio: var(--width)/var(--height);
    background-color: var(--light-grey-1);
    overflow: hidden;
}
.has-bifore,
.has-after{
    position: relative;
}
.has-after::before,
.has-after::after{
    position: absolute;
    content: "";
}
h1,
h2,
h3,
h4,
h5{
    font-family: var(--font-future);
}
p{
    line-height: 1.8em;
    color: var(--text-color);
}
.badge{
    display: inline-block;
    padding: 5px 14px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}
.badge-primary{
    background-color: var(--firt-color-alt);
    color: var(--white);
    font-size: 14px;
    font-weight: var(--fw-500);
    text-transform: uppercase;
}
.badge-secondary{
    color: var(--firt-color);
    background-color: var(--conteiner-color);
}
.section_title{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-top: 0;
    color: #444;
    position: relative;
    padding-bottom: 20px;
    text-transform: capitalize;
    line-height: 1em;
}
.section_title::before{
    left: 0;
    bottom: 0;
    width: 100px;
    height: 5px;
    border-radius: 6px;
    background-color: var(--firt-color-alt);
}
.section_title::after{
    left: 110px;
    width: 30px;
    height: 5px;
    border-radius: 6px;
    background-color: var(--firt-color-alt);
    bottom: 0;
}
.section_subtitle{
    font-family: var(--font-future);
    text-transform: capitalize;
    font-size: 22px;
    line-height: 1em;
    color: #232f4b;
    padding-bottom: 20px;
    margin-top: 0;
    margin: 0;
    font-weight: 500;
}
.section_subtitle::before{
    bottom: 0;
    width: 55px;
    background-color: var(--firt-color-alt);
    border-radius: 6px;
}
.section_title::after{
    width: max-content;
    width: 80%;
    left: 65px;
    bottom: 0;
    border-radius: 10px;
    background-color: #f2f2f2;
    height: 4px;
}
/*---------------------------------------------*/
/* Reused Style                                */
/*---------------------------------------------*/
.header-top{
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 12px 8px;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
}
.header-top_contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header-top_btn{
    padding: 8px;
    color: var(whit
    );
    background-color: #616161;
    font-size: 14px;
}
.header-top_text{
    font-size: 14px;
    color: #444;
}
.header-top_social{
    display: flex;
    align-items: center;
    margin-block-start: 15px;
    justify-content: center;
    gap: 5px;
}
.header-top_social i{
    font-size: 18px;
    font-weight: var(--fw-500);
    color: #444;
}
.header-navbar{
    padding-block: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu_toggle{
    background-color: var(--firt-color-alt);
    border-radius: 5px;
    padding: 5px 10px;
    width: 40px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.nav-menu_toggle .line{
    width: 20px;
    height: 2px;
    background-color: var(--white);
}
.nav-menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 2px;
    background-color: var(--elipse);
    z-index: 100;
    padding: 10px 35px;
    transition: all .5s;
}
.show-menu{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.nav-menu_close{
    padding: 30px 0;
    display: block;
    margin-inline-start: auto;
}
.nav-menu_close i{
    width: 40px;
    height: 40px;
    line-height: 37px;
    text-align: center;
    border: 1px solid var(--white);
    color: var(--white);
    font-size: 25px;
}
.nav_list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.nav_link{
    font-size: 15px;
    color: var(--white);
    font-weight: 600;
}
.nav_link.active{
    color: var(--white);
}
.header_actions{
    display: flex;
    align-items: center;
    gap: 15px;
}
.search_bar{
    font-size: 2rem;
    color: #232f4b;
}
.right_header-toggle span{
    width: 25px;
    height: 2px;
    margin-bottom: 0;
    background-color: #444;
}